<?xml version="1.0"?>
<robot name="libot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>gripper_left_finger_joint</joint_name>
            <joint_name>gripper_right_finger_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-position-controller-system"
            name="gz::sim::systems::JointPositionController">
            <joint_name>gripper_left_finger_joint</joint_name>
            <p_gain>0.04</p_gain>
            <i_gain>0.015</i_gain>
            <d_gain>0.35</d_gain>
            <i_max>0.5</i_max>
        </plugin>
    </gazebo>

</robot>